<html>
 <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-type'>
 </head>
 <body>
  <h1>Welcome, <%= @user.username %></h1> 
  <p>
  You have successfully signed up to 99Cats web-server,
  your username is: <%= @user.username %>.<br>
  </p>
  <p>
  To login follow the link: <%= @url %>
  </p>
  </body>
</html>